# See http://help.github.com/ignore-files/ for more about ignoring files.

.vscode/*

### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
*$py.class
output/
venv/
build/
dist/
.pypirc
